body {
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 16px;
}

.main {
    padding: 1rem;
}

.comments {
    padding: 1rem;
}

a {
    text-decoration: none;

    &.active {
        font-weight: bold;
    }
}

code {
    color: chocolate;
}
