<main class="main">
    <h1>Demo: Comentario in Angular</h1>
    <p>This application demonstrates adding <a href="https://gitlab.com/comentario/comentario">Comentario</a> comments to an Angular app.</p>
    <p>It assumes there's a local Comentario instance running at <code>{{ scriptUrl.replace('/comentario.js', '') }}</code>. Edit the file <code>projects/demo-app/src/app/app.component.ts</code> to change.</p>

    <h2>Page selector</h2>
    <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="a" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Page A</a></li>
        <li><a routerLink="b" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Page B</a></li>
    </ul>
</main>

<router-outlet></router-outlet>

<div class="comments">
    <h2>Comments</h2>
    <p><small>If your Comentario is up and running, you'll see a comment form below.</small></p>
    <ngx-comentario-comments *ngIf="pageId" [scriptUrl]="scriptUrl" [pageId]="pageId"/>
</div>
